@media only screen and  (min-width: 1599px )
{
	.TOP{
		display: none;
	}
	.divice_menu{
		display: none;
	}
	.top_deviz{
		width: 15%;
		min-height: 35%;
	}
	.bokal{
		right: 12%;
		max-width:20%;
		max-height: 80%;
	}
	.menu_site{
		width:100vw;
		padding: 0 10% 0 10%;
	}

	.top_deviz{
		width: 700px;
		left: 50%;
	}
	.bokal{
		height: 700px;
		width:325px;
	}
	.about_us p{
		font-size: 1.7em;
		line-height:45px;
	}
	.media_rez_2{
		top: -20px;
	}
	.product_info h5
	{	
		margin-bottom: 35px;
	}
	.muha_info h4, .compani_text h4,.contact_us h3{
		font-size: 2.2em;
		line-height:30px;
	}
	.muha_info p {
		font-size: 1.8em;
		line-height:30px;
	}
	.compani_text p, .aver_contact p{
		font-size: 1.8em;
		line-height:30px;

	}
	.left_info p{
		padding-top: 30px;
	}
}
@media only screen and (min-width: 1281px) and (max-width: 1599px )
{
	.TOP{
		display: none;
	}
	.divice_menu{
		display: none;
	}
	.top_deviz{
		width: 15%;
		min-height: 35%;
	}
	.bokal{
		right: 12%;
		max-width:20%;
		max-height: 80%;
	}
	.menu_site{
		width:100vw;
		padding: 0 10% 0 10%;
	}

	.top_deviz{
		width: 700px;
		left: 50%;
	}
	.bokal{
		height: 700px;
		width:325px;
	}
	.about_us p{
		font-size: 1.5em;
		line-height:25px;
	}
	.media_rez_2{
		top: -20px;
	}
	.product_info h5
	{	
		margin-bottom: 35px;
	}
	.muha_info h4, .compani_text h4,.contact_us h3{
		font-size: 1.5em;
		line-height:30px;
	}
	.muha_info p {
		font-size: 1em;
		line-height:30px;
	}
	.compani_text p, .aver_contact p{
		font-size: 1.2em;
		line-height:30px;

	}
	.left_info p{
		padding-top: 30px;
	}
}
@media only screen and (min-width: 901px) and (max-width: 1280px )
{
	.TOP{
		display: none;
	}
	.divice_menu{
		display: none;
	}
	.top_deviz{
		width: 35%;
		min-height: 30%;
	}
	.menu_site{
		width:100vw;
		padding: 0 5% 0 5%;
	}
	.top_deviz{
		top: 65%;
		left: 50%;
		width: 50%;
	}
	.bokal{
		right: 12%;
		width: 20%;
	}
	.cool_1, .cool_1_1{
		min-width: 70%;
	}
	.about_us,.shadow,.cool_ficha::before, .blur{
		width: 40vw;
	}
	.about_us p{
		padding: 5px 5px 15px 25px;
		font-size: 1.3em;
		letter-spacing: 1.1px;
		line-height:2em;
	}
	.third_block{
		top: -3.5vh;
	}
	.muha_info,.muha_info::before{
		right: 10%;
		width: 35%;
	}
	.compani_text{
		left: 10%;
		height: 60%;
		width: 30%;
	}
	.compani_text p{
		top: 10%;
	}
	.wine_photo{
		margin-top: 0px; 
	}
	.box_wine p{
		margin-top: 20px;
		padding-left: 10px;
	}
	.box_wine h5{
		font-size: 3.5vw;
	}
	.media_rez{
		top: 40px;
	}
	.media_rez_2{
		top: -20px;
	}
	.teg_img{
		padding: 0 5%; 
		max-height: 50px;
	}
	.teg_img img{
		margin: 10px 50px; 
		height: 30px;
	}
	.product_info h5
	{	
		margin-bottom: 35px;
	}
	.left_info p{
		padding-top: 30px;
	}


}

@media only screen and  (min-width: 668px ) and (max-width: 900px )
{
	.TOP{
		display: none;
	}
	.divice_menu{
		display: none;
	}
	.menu_site{
		width:100vw;
		padding: 0;
	}
	.top_deviz{
		
		left: 40%;
	}
	.bokal{
		right: -20%;
		width: 40%;
	}
	.cool_1{
		width: 100%;
	}
	.cool_2,.cool_3{
		display: none;
	}
	.item_top_1 p {
		font-size: 2vw;
		letter-spacing: 1.2px;
	}
	.about_us{
		width: 40vw;
	}
	.about_us p{
		
		padding: 15px 5px 5px 10px;
		font-size: 2vw;
	}
	.second_block img{
		width: 60vw;
	}
	.product_info h5
	{	margin-top: 35px;
		margin-bottom: 35px;
		font-size: 1.8em;
		line-height:30px;
		padding-left: 35px;
	}
	.product_info p
	{
		font-size: 1.2em;
		line-height:1.6em;
		padding-left: 35px;
		padding-top: 15px;
		padding-right: -5px;
	}
	.foto_muha{
		height: 225px;
		width: 225px;
		top: 10%;
		left: 38%; 
	}
	.muha_info{
		top: 330px;
		right: 0;
		height: 50%;
		width: 90%;
	}
	.muha_info h4, .contact_us h3{
		font-size: 1.5em;
		line-height:30px;
	}
	.muha_info p {
		font-size: 1.3em;
		line-height:30px;
	}
	.compani_text h4{
		margin-top: -20px;
		font-size: 1.5em;
		line-height:30px;
	}
	.compani_text p{
		margin-top: -20px;
		font-size: 1.2em;
		line-height:30px;

	}
	.aver_contact p{
		font-size: 1.2em;
		line-height:30px;
	}
	.aver_contact h4{
		font-size: 1.7em;
		line-height:30px;
	}
	.third_block{
		min-width: 100vw;
		padding:10px 5%;
	}
	.box_wine{
		margin: auto;
	}
	.box_wine p{
		font-size: 2vw;
	}
	.box_wine h5{
		font-size: 2.8vw;

	}
	.container{
		display: none;
	}
	.teg_img{
		height: 400px;
	}
	.left_info p{
		padding-top: 30px;
	}
	.contact_us{
		height: 500px;
		width: 90%;
	}
	.contact_us input{
		left: 5%;
		max-width: 90%;
		padding: 0 0 0 10px;
	}
	.img-slider .slider-container {
    animation: slider 80s infinite;
	}
}

@media only screen and (max-width: 667px) 

 { 
	.TOP{
		display: block;

	}
	.menu_site {
		display: none;
	}
	.top_deviz{
		height: 20%;
		max-height: 400px;
		right: -25%;
		bottom: 5%;
		width: 75%;
	}
	.bokal{
		min-width: 50%;
		height: 70%;
		max-height: 550px;
		right: -23%;
	}
	.cool_1{
		width: 100%;
	}
	.cool_2,.cool_3{
		display: none;
	}
	.item_top_1 p {
		font-size: 3vw;
		letter-spacing: 1px;
	}
	.item_top_2 img{
		display: none;
	}
	.about_us, .blur{
		left: 5%;
		width:90vw;
		overflow: hidden;
	}
	.about_us p{
		padding: 0px 5px 5px 15px;
		font-size: 1.1em;
		line-height:1.8em;
	}
	.about_us h4{
	font-size: 2em;
	line-height:10px;
	}
	.second_block img{
		width:100vw;
	}
	.box_wine{
		margin: auto;
	}
	.box_wine p{
		font-size: 2.75vw;
	}
	.box_wine h5{
		font-size: 3.5vw;
	}
	.third_block h1{
		font-size: 2em;
		line-height:10px;
	}
	.box_wine_card{
		width: 100vw;
	}
	.product_info h5
	{	margin-top: 35px;
		margin-bottom: 35px;
		font-size: 1.8em;
		line-height:30px;
		padding-left: 35px;
	}
	.product_info p
	{
		font-size: 1.2em;
		line-height:1.6em;
		padding-left: 35px;
		padding-top: 15px;
		padding-right: -5px;
	}
	.foto_muha{
		height: 225px;
		width: 225px;
		top: 10%;
		left: 20%; 
	}
	.muha_info{
		top: 330px;
		right: 0;
		height: 50%;
		width: 90%;
	}
	.muha_info h4, .compani_text h4,.contact_us h3{
		font-size: 1.5em;
		line-height:30px;
	}
	.muha_info p {
		font-size: 1em;
		line-height:30px;
	}
	.compani_text{
		width: 80%;
		height: 80%;
	}
	.compani_text p, .aver_contact p{
		font-size: 1.2em;
		line-height:30px;

	}
	.aress{
		top: -50px;
	}
	.aver_contact h4{
		font-size: 1.5em;
		line-height:30px;
	}
	.contact_us input{
			left: 5%;
		max-width: 90%;
		padding: 0 0 0 10px;
	}
	.contact_us button{
		font-size: 1.2em;
		line-height:30px;
		display: block;

	}
	.teg_img{
		height: 400px;
	}
	.oper_info{
		top: 70px;
		left: 55px;
	}
	.oper_info p{
		font-size: 1em;
	}
	.left_info button{
		display: none;
	}
	.left_info p{
		margin: 10px 5px;
	}
	#lets_go{
		margin-left:30px;
		width: 70%;;
	}
	.contact_us{
		height: 500px;
		width: 90%;
	}
	.img-slider .slider-container {
    animation: slider 50s infinite;
	}


	
}
@media only screen and (max-width: 320px) {
	.about_us p{
		padding: 0px 5px 5px 15px;
		font-size: 0.9em;
		line-height:1.7em;
	}
	.about_wine_head{
		min-height: 200vh;
	}
	.about_wine_head img{
		height: 220vh;
	}
	.foto_muha img {
	height: 100%;
	width: 100%;
	top: 0px;
	object-fit: cover;
	object-position: 40% 50%;
	}
	.muha_info{
		height: 60%;
	}
	.compani_text h4{
		margin-top: -35px;
		font-size: 1.1em;
		line-height:30px;
	}
	.compani_text p{
		margin-top: -35px;
		font-size: 1em;
		line-height:30px;

	}
	.oper_info{
		top: 70px;
		left: 20px;
	}
	.oper_info p{
		font-size: 1em;
	}
	.left_info button{
		display: none;
	}
	.left_info p{
		margin: 10px 5px;
	}
	#lets_go{
		margin-left: 32px;
	}
	.contact_us{
		height: 500px;
		width: 90%;
	}
	.contact_us input{
			left: 5%;
		max-width: 90%;
		padding: 0 0 0 10px;
	}
	.img-slider .slider-container {
    animation: slider 50s infinite;
	}
	

}