.TOP{
	position: fixed;
	display: block;
	max-height: 50px;
	min-width: 100vw;
	top: 0;
	background-color: black;
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	z-index: 98;
}
.container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	max-height: 50px;
	border-width: 0px;
	margin: 0 50px 0 0;
	background-color: black;
	cursor: pointer;
	outline: none;
	padding:  0 ;
 	display: inline-block;
  	cursor: pointer;
  	border-bottom-right-radius: 6px;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 10px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -7px);
  transform: rotate(45deg) translate(-9px, -7px);
}
.divice_menu{
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 97;
	display: block;
	left: 0;
	position: fixed;
}
.divice_menu .logo {
	top: 50px;
	width: 100%;
	height: 50px;
	margin-bottom: 100px;
}
.divice_menu .logo img{
	height:85px;
	width: 85px;
	position: relative;
	left: calc(50% - 20px);
	top: 0;
	transform: translate(-50%, -50%);
}
.divice_menu .text_menu{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-top: 0px;
	height: 50px;
	min-width: calc(100% - 120px);
}
.divice_menu .dottet{
	display:inline-block;
	position: relative;
	top: 20px;
	margin: 20px;
	height: 10px;
	width:10px;
	border-radius: 50%;
	background-color: #AA021C;
	z-index: 4;
}
.done{
	left: -667px;
	display: none;
	opacity: 0;
	visibility: hidden;

}